body
{
    background-color:rgb(253, 255, 240);
    border: solid black;
    border: width 1px;
    
}
td{
    font-weight: 900;
    background-color: maroon;
    color:white;
}
h2{
    color:red;
}
h1{
    color:brown;
}